<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Create New Listing</h1>

                <!-- adding all details in listing js object-->

                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" type="text" name="listing[title]" placeholder="enter tittle" required/>
                    </div>
                    <br />

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" name="listing[description]" placeholder="enter description" required ></textarea>
                    </div>
                    <br />

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload listing Image</label>
                        <input class="form-control" type="file" name="listing[image]"/>
                    </div>
                    <br />

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price " class="form-label">Price</label>
                            <input class="form-control" type="number" name="listing[price]" placeholder="enter price" required/>
                        </div>
                        <br />

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input class="form-control" type="text" name="listing[country]" placeholder="enter country" required/>
                        </div>
                        <br />
                    </div>
                    

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input class="form-control" type="text" name="listing[location]" placeholder="enter location" required/>
                    </div>
                    <br />

                    <div class="tag-container mb-3">
                        <p>Select Related tags</p>
                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Trending">
                                <div class="tag "> 
                                    <i class="fa-solid fa-fire"></i>Trending
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Rooms">
                                <div class="tag ">
                                    <i class="fa-solid fa-bed"></i>Rooms
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Iconic cities">
                                <div class="tag "> 
                                    <i class="fa-solid fa-tree-city"></i>Iconic cities
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Beach">
                                <div class="tag "> 
                                    <i class="fa-solid fa-umbrella-beach"></i>Beach
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Mountains">
                                <div class="tag "> 
                                    <i class="fa-solid fa-mountain-sun"></i>Mountains
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Pools">
                                <div class="tag "> 
                                    <i class="fa-solid fa-person-swimming"></i>Pools
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Horror">
                                <div class="tag "> 
                                    <i class="fa-solid fa-ghost"></i>Horror
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Camping">
                                <div class="tag "> 
                                    <i class="fa-solid fa-tents"></i>Camping
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Farms">
                                <div class="tag "> 
                                    <i class="fa-solid fa-tractor"></i>Farms
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Snow">
                                <div class="tag "> 
                                    <i class="fa-solid fa-snowflake"></i>Snow
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Volcano">
                                <div class="tag "> 
                                    <i class="fa-solid fa-volcano"></i>Volcano
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="School">
                                <div class="tag "> 
                                    <i class="fa-solid fa-school"></i>School
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Church">
                                <div class="tag "> 
                                    <i class="fa-solid fa-church"></i>Near Church
                                </div>
                        </label>

                         <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Free-wifi">
                                <div class="tag "> 
                                    <i class="fa-solid fa-wifi"></i>Free-wifi
                                </div>
                        </label>

                        <label>
                            <input class="hide" type="checkbox" name="listing[tags]" value="Earth">
                                <div class="tag "> 
                                    <i class="fa-solid fa-earth-americas"></i>Earth
                                </div>
                        </label>
                    </div>

                    

                    <button type="submit" class="btn btn-dark mb-3 add-btn">submit</button>

                </form>
            </div>
        </div>

    </body>

    </html>
